body{
            width: 1500px;
            height: 2500px;
            background:conic-gradient(
                purple, lightgreen
            );
        }
        
          .preloader{
            width: 1500px;
            height:6000px;
            background-color:white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position:fixed;
            top:0;
            left: 0;
            overflow: hidden;
            z-index: 100;
            animation: fadeOut 30s;
            animation-fill-mode: forwards;
        }
        
        .con-preloder{
        display: flex;
        flex-direction: column;
        width: 120px;
        height: 300px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50% -50%);
        z-index: 99;
        }
        
        .load1{
            width: 100px;
            display: flex;
            animation:animateOne -0.5s linear 0.8s infinite alternate;
        }
        
        .load2{
            width:100px;
            display: flex;
            animation:animateTwo 0.8s linear 0.5s   infinite alternate;
        }
        
        @keyframes animateOne{
            0%{
                opacity:0;
                fill:#fffff;
            }
            
            100%{
                opacity: 1;
                fill:#NaN0000;
            }
        }
        
        @keyframes animateTwo{
            0%{
                opacity:0;
                fill:#fffff;
            }
            
            100%{
                opacity: 1;
                fill:#000;
            }
        }
        
   
        
        @keyframes fadeOut {
        0%{
            opacity: 1;
            visibility: visible;
        }
        
            100%{
                opacity: 1;
                visibility: hidden;
            }
        }
      
        .header{
            display: flex;
            flex-direction: row;
            height: 380px;
            position: relative;
            z-index: 100;
            background-image: url('https://github.com/SOUTH-X/Xworld/blob/main/photos.html/10.jpg?raw=true');
        }
        
         .page-name{
            text-transform: uppercase;
            font-family: verdana;
            font-weight: bold;
            font-size: 80px;
            color: white;
            margin: 100px auto;
        }
        
        img{
            width: 600px;
        }
        
        .img-grid,.img-grid2,.img-grid3,img-grid4,img-grid5,.img-grid6,.img-grid7,.img-grid8,.img-grid9,.img-grid10{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: space-between;
            margin-bottom: 360px;
            animation:zoom-in-zoom-out 10s;
        }
        
        @keyframes zoom-in-zoom-out{
            0%{
                transform: scale(1,1);
            }
            50%{
                transform: scale(1.5,1.5);
            }
            100%{
                transform: scale(1,1);
            }
        }
        
        .img-grid{
            margin-top:160px;
        }
        
        .words{
            display:flex;
          flex-direction:row;
          background: url('https://github.com/SOUTH-X/Xworld/blob/main/photos.html/f1abef126382cb1964fb0ca49c4bbd5b.jpg?raw=true');
          background-color:#3ffff5;
          height:180px;
          align-items:space-between;
          justify-content:space-between;
          margin-top:2800px;
        }
        
         .words-of-wisdom{
                 font-size:40px;
                 font-weight:bold;
                 text-transform: uppercase;
                 animation:sliding 10s infinite;
             }
             @keyframes sliding{
                 25%{
                     margin-top:40px;
                 }
                 50%{
                     margin-left:80px;
                 }
             }
             
               
             @media all and (max-width:2560px) {
                 body{
                     width:100%;
                 }
                 
                     .preloader{
            width: 100%;
            }
            
                     }
               
             @media all and (max-width:1440px) {
                 body{
                     width:100%;
                 }
                 
                     .preloader{
            width: 100%;
            }
            
                    }
               
             @media all and (max-width:1024px) {
                 body{
                     width:100%;
                 }
                 
                     .preloader{
            width: 100%;
            }
            
                     }
             
             @media all and (max-width:768px) {
                 body{
                     width:100%;
                 }
                 
                     .preloader{
            width: 100%;
            padding: auto;
            }
            
            .load1, .load2{
                width: 80px;
            }
                 
                 img{
                     width: 300px;
                 }
                 
                 .web-logo{
                     width: 120px;
                 }
                 
                 img-grid,.img-grid2,.img-grid3,img-grid4,img-grid5,.img-grid6,.img-grid7,.img-grid8,.img-grid9,.img-grid10{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 20px;
        }
        
        .words{
            height: 100px;
            margin-top: 2000px;
        }
        
        .words-of-wisdom{
                 font-size:20px;
                 margin-top: auto;
             }
        
                 }
             
               @media all and (max-width:435px) {
                 body{
                     width:100%;
                 }
                 
                     .preloader{
            width: 100%;
            padding: auto;
            }
            
               .con-preloder{
                margin-left: -60px;
            }
            
            
            .load1, .load2{
                width: 50px;
            }
                 
                 img{
                     width: 150px;
                 }
                 
                 .web-logo{
                     width:20px;
                 }
                 
                 .page-name{
                     margin-bottom: -10px;
                 }
                 
                 img-grid,.img-grid2,.img-grid3,img-grid4,img-grid5,.img-grid6,.img-grid7,.img-grid8,.img-grid9,.img-grid10{
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            align-items:space-between;
        }
        
        .words{
            height: 100px;
            margin-top: 2000px;
        }
        
        .words-of-wisdom{
                 font-size:8px;
                 margin-top: auto;
             }
             
               @media all and (max-width:375px) {
                 body{
                     width:100%;
                 }
                 
                     .preloader{
            width: 100%;
            padding: auto;
            }
            
               .con-preloder{
                margin-left: -70px;
            }
            
            
            .load1, .load2{
                width: 30px;
            }
                 
                 img{
                     width: 150px;
                 }
                 
                 .web-logo{
                     width:20px;
                 }
                 
                 .page-name{
                     margin-bottom: -10px;
                 }
                 
                 img-grid,.img-grid2,.img-grid3,img-grid4,img-grid5,.img-grid6,.img-grid7,.img-grid8,.img-grid9,.img-grid10{
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            align-items:space-between;
        }
        
        .words{
            height: 100px;
            margin-top: 2000px;
        }
        
        .words-of-wisdom{
                 font-size:8px;
                 margin-top: auto;
             }
        
                 }
