     body{
            width: 1500px;
        }
        
        .preloader{
            width: 1500px;
            height:6000px;
            background-color:white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position:fixed;
            top:0;
            left: 0;
            overflow: hidden;
            z-index: 100;
            animation: fadeOut 12s;
            animation-fill-mode: forwards;
        }
        
        .con-preloder{
        display: flex;
        flex-direction: column;
        width: 120px;
        height: 300px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50% -50%);
        z-index: 99;
        }
        
        .load1{
            width: 100px;
            display: flex;
            animation:animateOne -0.5s linear 0.8s infinite alternate;
        }
        
        .load2{
            width:100px;
            display: flex;
            animation:animateTwo 0.8s linear 0.5s   infinite alternate;
        }
        
        @keyframes animateOne{
            0%{
                opacity:0;
                fill:#fffff;
            }
            
            100%{
                opacity: 1;
                fill:#NaN0000;
            }
        }
        
        @keyframes animateTwo{
            0%{
                opacity:0;
                fill:#fffff;
            }
            
            100%{
                opacity: 1;
                fill:#000;
            }
        }
        
   
        
        @keyframes fadeOut {
        0%{
            opacity: 1;
            visibility: visible;
        }
        
            100%{
                opacity: 0;
                visibility: hidden;
            }
        }
     
     
         .overall{
         display:flex;
    flex-direction:column;
    background: repeating-linear-gradient(whitesmoke, black, yellow);
    border:none;
    height:3000px;
    width:1500px;
     }
     
    #background-vid{
        display:flex;
    object-fit:contain;
    width:1500px;
    }
    
    .logo-div{
        display:flex;
    flex-direction:row;
    position: absolute;
    top:0;
    left:0;
    right:0;
    width:
    justify-content:space-between;
    margin-bottom:300px;
    }
    
    .logo{
        display:flex;
         position: absolute;
         margin-top:20px;
         width:300px;
    }
    
     
     .con-introtx{
         display:flex;
   margin-top:30px;
   width:1500px;
   animation:fadeIn 1s;
   background-color: yellow;
     }
     
     .introtx{
         color:#3115ff;
      font-weight:bold;
      font-family:Algerian;
      font-size:20px;
      text-align:center;
      line-height:30px;
      vertical-align:top;
     }
     
     .con-intro-vid{
         display:flex;
    position:relative;
    top:0;
    bottom:0;
    left:0px;     
    width:1500px;
     }
     
     .site-name{
        font-family:roboto;
        font-style:italics;
        font-weight:bold;
        color:#ff2a8a;
        font-size:40px;
        text-align:center;
     }
         .home-made{
            display:flex;
            flex-direction: row;
            margin-left:670px;
            margin-top:30px;
            flex:1;             
         } 
         
         .join-button{
             height:30px;
      width:50px;
      border:none;
      border-radius:10px;
      margin-top:70px;
      background-color:#ff5415;
      margin-left:-580px;
      color:#91ff55;
         }
         
         .about-button{
            border:none;
            background-color:#ff5415;
            color:#91ff55;
            border-radius:6px;
            height: 30px;
            width: 50px;
            margin-bottom: 20px;
            margin-right:20px;
              }
              
              .shop-button{
              border:none;
            background-color:#ff5415;
            color:#91ff55;
            border-radius:6px;
            height: 30px;
            width: 50px;
            margin-bottom: 20px;
                 
              }
              .gallery-button{
                 border:none;
            background-color:#ff5415;
            color:#91ff55;
            border-radius:6px;
            height: 30px;
            width: 50px;
            margin-bottom: 20px;
            margin-left:20px
              }
              .contact-button{
              background-color:#ff5415;
              color:#91ff55;
                 border:none;
            border-radius:6px;
            height: 30px;
            width: 50px;
            margin-left:20px;
              }
              
              .search-bar{
                 margin-left:150px;
                 margin-top:50px;
                 margin-right:50px;
                 height:30px; 
                 width:150px;
                 margin-left:50px;
                 border-style:solid;
              }
              
              .search-icon{
                  margin-top:-40px;
                  height:40px;
                  width:50px;
                  margin-right:0;
                  border-radius:7px;
                  display:flex;
                  background-color:#bfffff;
              }
              
              .sev1, .sev2, .sev3{
                  height:300px;
                  margin-top:30px;
                  padding-left:20px;
              }
              
             .alt-image1,.alt-image2,.alt-image3{
                 width:300px;
                 animation:slidein 10s;
             }
             
             @keyframes slidein{
                 25%{
                     margin-right:-60px;
                 }
                 50%{
                     margin:0 -60px 50px;
                 }
                 75%{
                     margin-left:-60px;
                 }
             }
             
             .alt-txt1,.alt-txt2,.alt-txt3{
                 font-family:Arial;
                 font-size:30px;
                 font-style: italics;
                 font-weight:500px;
                 text-align: center;
                 justify-text:center;
                 color:#1200ff;
                 line-height:40px;
             }
             
             .about-button,.shop-button,.gallery-button,.contact-button,.join-button: active {
                background-color: yellow;    
                color:black;
                transition:0.5s;
             }
             
             .services{
                 display:grid;
   grid-template-columns:1fr 1fr 1fr;
   row-gap:100px;
   column-gap:150px;
   margin-top:40px;
   background-color:#d915ff;
   width:1500px;
   height:1000px;
   align-items:center;
             }
             
             .dark{
                 background-color: black;
   display:flex;
   flex-direction:row;
   justify-content:center;
   margin-top:50px;
   width:1500px;
             }
             
             .bottom-class{
                 display:grid;
          grid-template-columns:1fr 1fr;
          column-gap:60px;
          row-gap:20px;
          background-color:red;
          margin-top:50px;
          width:1500px;
          height:300px;
             }
             
             .social-handle{
                 display:inline-block;
            height:250px;
            width:150px;
            margin-left:40px;
            margin-top:30px;
            padding-left:30px;
              justify-content:center;
              background-color:pink;
             }
             
             .words{
                 display:flex;
          flex-direction:row;
          background: url('/storage/emulated/0/DCIM/100PINT/Pins/dd643c95c29702bdd4195d0b826b8a77.jpg');
          background-color:#3ffff5;
          height:180px;
          align-items:space-between;
          justify-content:space-between;
          margin-top:40px;
             }
             
             .words-of-wisdom{
                 font-size:40px;
                 font-weight:bold;
                 text-transform: uppercase;
                 animation:sliding 10s infinite;
             }
             
             @keyframes sliding{
                 25%{
                     margin-top:40px;
                 }
                 50%{
                     margin-left:80px;
                 }
             }
             .sponsor{
                 cursor:pointer;
             }
             
             .home-made2{
                 display:flex;
                 flex-direction:row;
                 align-items:space-between;
                 justify-content:space-between;
             }
             
             .lnk1,.lnk2,.lnk3,.lnk4{
                 font-size:50px;
                 margin-left:30px;
             }
             
              @media all and (max-width:2560px) {
                 body{
                     width: 100%;
                 }
                 
                   .preloader{
            width: 100%;
            }
            
                 
                 .overall{
                    width:100%;
             }
             
             #background-vid{
                   width: 100%;
               }
               
                
               
                .con-intro-vid{
                     width:100%;
                     }
                     
                        .con-introtx{
                   width:100%;
                 }
                 
                 .services{
                 width: 100%;
                }
                
                .dark{
                    width: 100%;
                }
                
                .bottom-class{
                    width: 100%;
                }
                
                .words{
                    width: 100%;
                }
                
                .words-of-wisdom{
                    font-size: 40px;
                }
                 }
             
             
              @media all and (max-width:1440px) {
                 body{
                     width: 100%;
                 }
                 
                     .preloader{
            width: 100%;
            }
            
                 
                 .overall{
                    width:100%;
             }
             
             #background-vid{
                   width: 100%;
               }
               
                
               
                .con-intro-vid{
                     width:100%;
                     }
                     
                        .con-introtx{
                   width:100%;
                 }
                 
                 .services{
                 width: 100%;
                }
                
                .dark{
                    width: 100%;
                }
                
                .bottom-class{
                    width: 100%;
                }
                
                .words{
                    width: 100%;
                }
                
                .words-of-wisdom{
                    font-size: 30px;
                }
                 }
             
             
               @media all and (max-width:1024px) {
                 body{
                     width: 100%;
                 }
                 
                     .preloader{
            width: 100%;
            }
            
                 
                 .overall{
                    width:100%;
             }
             
             #background-vid{
                   width: 100%;
               }
               
                 .search-bar{
                 display:none;
              }
              
              .logo{
         width:200px;
    }
              
              search-icon{
                  display:none;
              }
               
                .con-intro-vid{
                     width:100%;
                     }
                     
                        .con-introtx{
                   width:100%;
                 }
                 
                 .services{
                 width: 100%;
                }
                
                .dark{
                    width: 100%;
                }
                
                .bottom-class{
                    width: 100%;
                }
                
                .words{
                    width: 100%;
                }
                
                .words-of-wisdom{
                    font-size: 30px;
                }
                 }
             
                @media all and (max-width:768px) {
                 body{
                     width: 100%;
                 }
                 
                     .preloader{
            width: 100%;
            }
            
            .load1, .load2{
                width: 80px;
            }
                 
                 .overall{
                    width:100%;
             }
             
               #background-vid{
                   width: 100%;
               }
               
                 .search-bar{
                 display:none;
              }
              
              .search-icon{
                  display:none;
              }
              
              .logo{
         width:180px;
    }
              
               
               .con-introtx{
                   width:100%;
                 }
                 
                 .join-button{
                    margin-top:100px;
                 }
                 
                 .introtx{
                    font-size:20px;
                    line-height:40px;
                    text-align:left;
                    text-justify:left;
                 }
                 
                   .con-intro-vid{
                     width:100%;
                     }
                     
                        .home-made{
                        display:none;
                        }
                         
                    .services{
                      display:flex;
                      height:1000px;
                      margin-bottom: 1500px;
                      flex-direction: column;
                      justify-content:space-between;
                       width:100%;
                       align-items:center;
                       padding-left:auto;
                    }
                    
                     .sev1, .sev2, .sev3{
                  height:150px;
                  align-items: center;
                  justify-content: center;
                  padding-left:40px;
              }
              
              .sev1{
                  margin-top: 20px;
                  margin-bottom: 70px;
              }
              
              .sev2,.sev3{
                  margin-top: 140px;
              }
              
              .alt-image1,.alt-image2,.alt-image{
             }
             
                
             .alt-txt1,.alt-txt2,.alt-txt3{
                 text-align:left;
                 justify-text:left;
                 margin-top: 10px;
                 line-height:30px;
                 
             }
             
             .dark{
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top:500px;
   width:100%;
             }
             
             .bottom-class{
             animation: none;
             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: center;
          width:100%;
          height: 500px;
             }
             
                       .words{
          width: 100%;
          height:120px;
             }
             
               .words-of-wisdom{
                 font-size:20px;
             }
             
              .lnk1,.lnk2,.lnk3,.lnk4{
                 font-size:25px;
             }
             
                 }
                 
                @media all and (max-width:435px) {
                 body{
                     width: 100%;
                 }
                 
                     .preloader{
            width: 100%;
            }
            
            .load1, .load2{
                width: 50px;
            }
                 
                 .overall{
                    width:100%;
             }
             
               #background-vid{
                   display:none;
               }
               
               .logo{
                   width:70px;
                   margin-top:10px;
               }
               
                 .search-bar{
                 display:none;
              }
              
              .search-icon{
                  display:none;
              }
              
               
               .con-introtx{
                   width:100%;
                   margin-top:80px;
                   background: url('/storage/emulated/0/Android/obj/HTML -CSS - Course/photos.html/8.jpg');
                   opacity: 0.5;
                 }
                 
                 .join-button{
                    margin-top:250px;
                    margin-left:-30px;
                    margin-right: 50px;
                 }
                 
                 .introtx{
                    font-size:20px;
                    line-height:40px;
                    text-align:left;
                    text-justify:left;
                 }
                 
                   .con-intro-vid{
                     
                     }
                     
                        .home-made{
                        display:none;
                        }
                         
                    .services{
                      display:flex;
                      height:1000px;
                      margin-bottom: 1500px;
                      flex-direction: column;
                      justify-content:space-between;
                       width:100%;
                       align-items:center;
                       padding-left:auto;
                    }
                    
                     .sev1, .sev2, .sev3{
                  height:150px;
                  align-items: center;
                  justify-content: center;
                  padding-left:40px;
                  animation:none;
              }
              
              .sev1{
                  margin-top: 20px;
                  margin-bottom: 70px;
              }
              
              .sev2,.sev3{
                  margin-top: 140px;
              }
              
              .alt-image1,.alt-image2,.alt-image{
              animation:none;
              width:150px;
             }
             
                
             .alt-txt1,.alt-txt2,.alt-txt3{
                 text-align:left;
                 justify-text:left;
                 margin-top: 10px;
                 line-height:30px;
                 animation:none;
                 
             }
             
             .dark{
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top:500px;
   width:100%;
             }
             
             .bottom-class{
             animation: none;
             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: center;
          width:100%;
          height: 500px;
             }
             
                       .words{
          width: 100%;
          height:60px;
             }
             
               .words-of-wisdom{
                 font-size:10px;
                 animation:sliding 10s;
             }
             
              .lnk1,.lnk2,.lnk3,.lnk4{
                 font-size:9px;
             }
             
                 }
                 
                @media all and (max-width:375px) {
                 body{
                     width: 100%;
                 }
                 
                     .preloader{
            width: 100%;
            padding: auto;
            }
            
                 
                 .load1, .load2{
                     width: 30px;
                 }
                 
                 .overall{
                    width:100%;
             }
             
               #background-vid{
                   display:none;
               }
               
               .logo{
                   width:70px;
                   margin-top:10px;
               }
               
                 .search-bar{
                 display:none;
              }
              
              .search-icon{
                  display:none;
              }
              
               
               .con-introtx{
                   width:100%;
                   margin-top:80px;
                 }
                 
                 .join-button{
                    margin-top:250px;
                    margin-left:-30px;
                    margin-right: 50px;
                 }
                 
                 .introtx{
                    font-size:20px;
                    line-height:40px;
                    text-align:left;
                    text-justify:left;
                 }
                 
                   .con-intro-vid{
                     
                     }
                     
                        .home-made{
                        display:none;
                        }
                         
                    .services{
                      display:flex;
                      height:1000px;
                      margin-bottom: 1500px;
                      flex-direction: column;
                      justify-content:space-between;
                       width:100%;
                       align-items:center;
                       padding-left:auto;
                    }
                    
                     .sev1, .sev2, .sev3{
                  height:150px;
                  align-items: center;
                  justify-content: center;
                  padding-left:40px;
                  animation:none;
              }
              
              .sev1{
                  margin-top: 20px;
                  margin-bottom: 70px;
              }
              
              .sev2,.sev3{
                  margin-top: 140px;
              }
              
              .alt-image1,.alt-image2,.alt-image{
              animation:none;
              width:150px;
             }
             
                
             .alt-txt1,.alt-txt2,.alt-txt3{
                 text-align:left;
                 justify-text:left;
                 margin-top: 10px;
                 line-height:30px;
                 animation:none;
                 
             }
             
             .dark{
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top:500px;
   width:100%;
             }
             
             .bottom-class{
             animation: none;
             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: center;
          width:100%;
          height: 500px;
             }
             
                       .words{
          width: 100%;
          height:60px;
             }
             
               .words-of-wisdom{
                 font-size:10px;
                 animation:sliding 10s;
             }
             
              .lnk1,.lnk2,.lnk3,.lnk4{
                 font-size:9px;
             }
             
                 }
                
  
