body{
            background:conic-gradient(yellow, black, grey);
        }
        
        
          .preloader{
            width: 1500px;
            height:6000px;
            background-color:white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position:fixed;
            top:0;
            left: 0;
            overflow: hidden;
            z-index: 100;
            animation: fadeOut 1s;
            animation-fill-mode: forwards;
        }
        
        .con-preloder{
        display: flex;
        flex-direction: column;
        width: 120px;
        height: 300px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50% -50%);
        z-index: 99;
        }
        
        .load1{
            width: 100px;
            display: flex;
            animation:animateOne -0.5s linear 0.8s infinite alternate;
        }
        
        .load2{
            width:100px;
            display: flex;
            animation:animateTwo 0.8s linear 0.5s   infinite alternate;
        }
        
        @keyframes animateOne{
            0%{
                opacity:0;
                fill:#fffff;
            }
            
            100%{
                opacity: 1;
                fill:#NaN0000;
            }
        }
        
        @keyframes animateTwo{
            0%{
                opacity:0;
                fill:#fffff;
            }
            
            100%{
                opacity: 1;
                fill:#000;
            }
        }
        
   
        
        @keyframes fadeOut {
        0%{
            opacity: 1;
            visibility: visible;
        }
        
            100%{
                opacity: 0;
                visibility: hidden;
            }
        }
        
        .body{
            width:1500px;
    position: relative;
        }
        
        #background-vid{
            width:100%;
        }
        
        .logo{
            display:flex;
        position: absolute;
        margin:-800px 0 0 30px;
        }
        
        .pay-form{
            display:flex;
        flex-direction:column;
        position: absolute;
        top:20px;
        bottom:50px;
        left:400px;
        border:5px solid;
        height:850px;
        width:600px;
        background-color:white;
        padding-left:30px;
        }
        
        .pay-ttl{
            text-align: center;
        }
        
        .pay-left{
            display:flex;
            flex-direction:column;
            margin-left:280px;
            margin-top:-510px;
            align-items:space-between;
            justify-content:space-between;
        }
        
        .otp{
            display:flex;
           flex-direction:column;
          margin-left:280px;
          margin-right:20px;
        }
        
        input{
            height:40px;
        }
        
        .sec-line{
            display:flex;
    flex-direction:row;
    padding-left:800px;
        }
        
        .ins{
            text-transform:uppercase;
        font-family:Arial;
        font-weight:bold;
        font-size:80px;
        text-align: center;
        background-color:#00ffff;
        color:#ff00de;
        }
        
        .pic-ins{
            width:1300px;
    height:1000px;
    margin:100px auto;
    background-image:url(/storage/emulated/0/DCIM/100PINT/Pins/1.jpg);
    animation:slide 50s infinite;
        }
        
        @keyframes slide{
            0%{
                background-image:url(/storage/emulated/0/DCIM/100PINT/Pins/1.jpg);
            }
            10%{
                background-image:url(/storage/emulated/0/DCIM/100PINT/Pins/9.jpg);
            }
            20%{
                background-image:url(/storage/emulated/0/DCIM/100PINT/Pins/8.jpg);
            }
            30%{
                background-image:url(/storage/emulated/0/DCIM/100PINT/Pins/7.jpg);
            }
            40%{
                background-image:url(/storage/emulated/0/DCIM/100PINT/Pins/6.jpg);
            }
            50%{
                background-image:url(/storage/emulated/0/DCIM/100PINT/Pins/5.jpg);
            }
            60%{
                background-image:url(/storage/emulated/0/DCIM/100PINT/Pins/4.jpg);
            }
            70%{
                background-image:url(/storage/emulated/0/DCIM/100PINT/Pins/3.jpg);
            }
            80%{
               background-image:url(/storage/emulated/0/DCIM/100PINT/Pins/2.jpg);
            }
        }
        .words{
            display:flex;
          flex-direction:row;
          background: url('/storage/emulated/0/DCIM/100PINT/Pins/dd643c95c29702bdd4195d0b826b8a77.jpg');
          background-color:#3ffff5;
          height:180px;
          align-items:space-between;
          justify-content:space-between;
          margin-top:40px;
        }
        
        .words-of-wisdom{
                 font-size:40px;
                 font-weight:bold;
                 text-transform: uppercase;
                 animation:sliding 10s infinite;
             }
             @keyframes sliding{
                 25%{
                     margin-top:40px;
                 }
                 50%{
                     margin-left:80px;
                 }
             }
             
               @media all and (max-width:2560px) {
                 body{
                     width: 100%;
                 }
                 
                     .preloader{
            width: 100%;
            }
            
                 
                 .body{
                     width: 100%;
                 }
                
                .logo{
                   margin-top: -1400px;
                }
                     }
             
             @media all and (max-width:1440px) {
                 body{
                     width: 100%;
                 }
                 
                     .preloader{
            width: 100%;
            }
            
                 
                 .body{
                     width: 100%;
                 }
             
                      
                 .sec-line{
                    display:flex;
                    flex-direction:column;
                    padding-left:150px;
                }
             }
             
             @media all and (max-width:1024px) {
                 body{
                     width: 100%;
                 }
                 
                     .preloader{
            width: 100%;
            }
            
                 
                 .body{
                     width: 100%;
                 }
                 
                 #background-vid{
                     width: 100%;
                     position: absolute;
                 }
                 
                    .logo{
                        margin-top:-10px;
                        position: absolute;
                        width: 200px;
                   }
                       
                 
                     .pay-form{
                    position: absolute;
                    left:300px;
                    
                    }
                  
                 .sec-line{
                    display:flex;
                    flex-direction:column;
                    padding-left:150px;
                }
                 
                 .ins{
                     text-transform:uppercase;
        font-family:Arial;
        font-weight:bold;
        margin-top:900px;
        font-size:40px;
                 }
                 
                 .pic-ins{
                     width:1000px;
                 }
                 
                   .words{
                      height:100px;
                      padding: auto;
                }
        
                 
                   .words-of-wisdom{
                 font-size:25px;
                 }
        
             }
             
                @media all and (max-width:768px) {
                 body{
                     width:100%;
                 }
                 
                     .preloader{
            width: 100%;
            padding: auto;
            }
            
            .load1, .load2{
                width: 80px;
            }
                 
                 #background-vid{
                     display:none;
                     background-image: url(/storage/emulated/0/Android/obj/HTML -CSS - Course/photos.html/2.jpg);
                 }
                 
                   .logo{
                        margin-top:-10px;
                        width: 150px;
                   }
                 
                 .body{
                     width: 100%;

                 }                 
                 
                     .pay-form{
                    position: absolute;
                    top:40px;
                    bottom:150px;
                    right:50px;
                    left:80px;
                    background-image:url(/storage/emulated/0/Download/5gZT5I-LogoMakr.png);
                    }
                  
                 .sec-line{
                    display:flex;
                    flex-direction:column;
                    padding-left:200px;
                }
                 
                 .ins{
                     text-transform:uppercase;
        font-family:Arial;
        font-weight:bold;
        margin-top:900px;
        font-size:40px;
                 }
                 
                 .pic-ins{
                     width:1000px;
                 }
                 
                   .words{
                      height:100px;
                      padding: auto;
                }
        
                 
                   .words-of-wisdom{
                 font-size:25px;
                 }
        
             }
             
             
                @media all and (max-width:435px) {
                 body{
                     width:100%;
                 }
                 
                     .preloader{
            width: 100%;
            padding: auto;
            }
            
            .load1, .load2{
                width: 50px;
            }
                 
                 #background-vid{
                     display:none;
                     background-image: url(/storage/emulated/0/Android/obj/HTML -CSS - Course/photos.html/2.jpg);
                 }
                 
                   .logo{
                        margin-top:-10px;
                        width: 50px;
                   }
                 
                 .body{
                     width: 100%;

                 }                 
                 
                     .pay-form{
                    position: absolute;
                    top:40px;
                    bottom:150px;
                    right:50px;
                    left:40px;
                    width:250px;
                    height:1300px;
                    background-image:url(/storage/emulated/0/Download/5gZT5I-LogoMakr.png);
                    }
                    
                     .pay-ttl{
                        font-size: 20px;
                        margin-left: -30px;
                    }
                    
                    .pay-left{
            margin-left:8px;
           margin-top: 40px;
                    }
                    
                    .otp{
          margin-left:8px;
          margin-right:20px;
                    }
                    
                    input{
                        height: 20px;
                    }
                  
                 .sec-line{
                    display:flex;
                    flex-direction:column;
                    padding-left:20px;
                }
                 
                 .ins{
                     text-transform:uppercase;
        font-family:Arial;
        font-weight:bold;
        margin-top:1500px;
        font-size:40px;
                 }
                 
                 .pic-ins{
                     width:400px;
                 }
                 
                   .words{
                      height:60px;
                      padding: auto;
                }
        
                 
                   .words-of-wisdom{
                 font-size:8px;
                 }
        
             }
             
                @media all and (max-width:375px) {
                 body{
                     width:100%;
                 }
                 
                     .preloader{
            width: 100%;
            padding: auto;
            }
            
            .load1, .load2{
                width: 30px;
            }
                 
                 #background-vid{
                     display:none;
                     background-image: url(/storage/emulated/0/Android/obj/HTML -CSS - Course/photos.html/2.jpg);
                 }
                 
                   .logo{
                        margin-top:-10px;
                        width: 80px;
                   }
                 
                 .body{
                     width: 100%;
                    height: 3500px;
                 }                 
                 
                     .pay-form{
                    position: absolute;
                    top:40px;
                    bottom:150px;
                    right:50px;
                    left:20px;
                    background-image:url(/storage/emulated/0/Download/5gZT5I-LogoMakr.png);  
                    margin-bottom: 40px;   
                    height: 1300px;     
                    width: 250px;          
                    }
                    
                    .pay-ttl{
                        font-size: 20px;
                        margin-left: -30px;
                    }
                    
                    .pay-left{
            margin-left:8px;
           margin-top: 40px;
                    }
                    
                    .otp{
          margin-left:8px;
          margin-right:20px;
                    }
                    
                    input{
                        height: 20px;
                    }
                  
                 .sec-line{
                    display:flex;
                    flex-direction:column;
                    padding-left:20px;
                    
                }
                 
                 .ins{
                     text-transform:uppercase;
        font-family:Arial;
        font-weight:bold;
        margin-top:1500px;
        font-size:40px;
                 }
                 
                 .pic-ins{
                     width:500px;
                     height:400px
                 }
                 
                   .words{
                      height:40px;
                      padding: auto;
                }
        
                 
                   .words-of-wisdom{
                 font-size:8px;
                 }
        
             }
                 