input{
            height:40px;
        }
        
        body{
            width:1500px;
            height:3600px;
            background:linear-gradient(white, black, yellow);
        }
        
          .preloader{
            width: 1500px;
            height:6000px;
            background-color:white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position:fixed;
            top:0;
            left: 0;
            overflow: hidden;
            z-index: 100;
            animation: fadeOut 12s;
            animation-fill-mode: forwards;
        }
        
        .con-preloder{
        display: flex;
        flex-direction: column;
        width: 120px;
        height: 300px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50% -50%);
        z-index: 99;
        }
        
        .load1{
            width: 100px;
            display: flex;
            animation:animateOne -0.5s linear 0.8s infinite alternate;
        }
        
        .load2{
            width:100px;
            display: flex;
            animation:animateTwo 0.8s linear 0.5s   infinite alternate;
        }
        
        @keyframes animateOne{
            0%{
                opacity:0;
                fill:#fffff;
            }
            
            100%{
                opacity: 1;
                fill:#NaN0000;
            }
        }
        
        @keyframes animateTwo{
            0%{
                opacity:0;
                fill:#fffff;
            }
            
            100%{
                opacity: 1;
                fill:#000;
            }
        }
        
   
        
        @keyframes fadeOut {
        0%{
            opacity: 1;
            visibility: visible;
        }
        
            100%{
                opacity: 0;
                visibility: hidden;
            }
        }
        
        .logo{
            display:flex;
        width:250px;
        position: absolute;
        margin-top:-800px;
        }
        
        .body{
            width:1500px;
            position: relative;
            z-index:100;
        }
        
        #background-vid{
            width:100%;
        }
        
        .reg-form{
             display:flex;
        flex-direction:column;
        position: absolute;
        top:30px;
        bottom:50px;
        right:50px;
        left:600px;
        border:5px solid;
        height:800px;
        width:300px;
        background-color:white;
        padding-left:30px;
        }
        
        .pic-ins{
            display:flex;
            flex-direction:row;
            padding-left:800px;
        }
        
        .ins{
            text-transform:uppercase;
        font-family:Arial;
        font-weight:bold;
        margin-top:300px;
        margin-left:-400px;
        font-size:80px;
        text-align: center;
        background-color:#00ffff;
        color:#ff00de;
        }
        
        .words{
            display:flex;
          flex-direction:row;
          background: url('/storage/emulated/0/DCIM/100PINT/Pins/dd643c95c29702bdd4195d0b826b8a77.jpg');
          background-color:#3ffff5;
          height:180px;
          align-items:space-between;
          justify-content:space-between;
          margin-top:40px;
        }
        
        .last-section{
            display:flex;
          flex-direction:column;
          background-color:white;
          align-items:center;
          height:250px;
          margin-top:50px;
        }
        
        .pic-slide{
            width:1300px;
    height:1000px;
    margin:300px auto;
    background-image:url('https://github.com/SOUTH-X/Xworld/blob/main/photos.html/1.jpg?raw=true');
    animation:slide 50s infinite;
        }
        
        @keyframes slide{
            0%{
                background-image:url('https://github.com/SOUTH-X/Xworld/blob/main/photos.html/10.jpg?raw=true');
            }
            10%{
                background-image:url('https://github.com/SOUTH-X/Xworld/blob/main/photos.html/13.jpg?raw=true');
            }
            20%{
                background-image:url(/storage/emulated/0/DCIM/100PINT/Pins/8.jpg);
            }
            30%{
                background-image:url(/storage/emulated/0/DCIM/100PINT/Pins/7.jpg);
            }
            40%{
                background-image:url(/storage/emulated/0/DCIM/100PINT/Pins/6.jpg);
            }
            50%{
                background-image:url(/storage/emulated/0/DCIM/100PINT/Pins/5.jpg);
            }
            60%{
                background-image:url(/storage/emulated/0/DCIM/100PINT/Pins/4.jpg);
            }
            70%{
                background-image:url(/storage/emulated/0/DCIM/100PINT/Pins/3.jpg);
            }
            80%{
               background-image:url(/storage/emulated/0/DCIM/100PINT/Pins/2.jpg);
            }
        }
        
        .words-of-wisdom{
                 font-size:40px;
                 font-weight:bold;
                 text-transform: uppercase;
                 animation:sliding 10s infinite;
             }
             @keyframes sliding{
                 25%{
                     margin-top:40px;
                 }
                 50%{
                     margin-left:80px;
                 }
             }
             
              @media all and (max-width:2560px) {
                 body{
                     width:100%;
                     }
                    
                        .preloader{
            width: 100%;
            }
            
                     
                     .body{
                         width: 100%;
                         }
                         
                     .logo{
                        margin-top:-1400px;
        }
                     }
             
              @media all and (max-width:1440px) {
                 body{
                     width:100%;
                     }
                     
                         .preloader{
            width: 100%;
            }
            
                     
                     .body{
                         width: 100%;
                     }
                     
                     
                     
                       .words-of-wisdom{
                 font-size:30px;
                     }
                 }
                 
             
               @media all and (max-width:1024px) {
                 body{
                     width:100%;
                     }
                     
                         .preloader{
            width: 100%;
            }
            
                     
                     .body{
                         width: 100%;
                     }
                     
                     .logo{
                        margin-top:-1900px;
                      }
                     
                 }
             
             @media all and (max-width:768px) {
                 body{
                     width:100%;
                     
                 }
                 
                     .preloader{
            width: 100%;
            padding: auto;
            }
            
            .load1, .load2{
                width: 80px;
            }
                
                 .body{
                     width: 100%;

                 }                 
                 
                     .reg-form{
                    position: absolute;
                    top:40px;
                    bottom:150px;
                    right:50px;
                    left:150px;
                    background-image:url(/storage/emulated/0/Download/5gZT5I-LogoMakr.png);
                    }
                  
                 .pic-ins{
                    display:flex;
                    flex-direction:column;
                    padding-left:300px;
                }
                 
                 .ins{
                     text-transform:uppercase;
        font-family:Arial;
        font-weight:bold;
        margin-top:900px;
        font-size:40px;
                 }
                 
                 .pic-slide{
                     width:700px;
                 }
                 
                   .words{
                      height:100px;
                      padding: auto;
                }
        
                 
                   .words-of-wisdom{
                 font-size:15px;
                 }
                     }
               
                 
                   .logo{
                        margin-top:-10px;
                        width: 150px;
                   }
                 
                 .body{
                     width: 100%;

                 }                 
                 
                     .reg-form{
                    position: absolute;
                    top:40px;
                    bottom:150px;
                    right:50px;
                    left:250px;
                    
                    }
                  
                 .pic-ins{
                    display:flex;
                    flex-direction:column;
                    padding-left:300px;
                }
                 
                 .ins{
                     text-transform:uppercase;
        font-family:Arial;
        font-weight:bold;
        margin-top:900px;
        font-size:40px;
                 }
                 
                 .pic-slide{
                     width:700px;
                 }
                 
                   .words{
                      height:100px;
                      padding: auto;
                }
        
                 
                   .words-of-wisdom{
                 font-size:15px;
                 }
        
             }
                 
              @media all and (max-width:435px) {
                 body{
                     width:100%;
                     
                 }
                 
                     .preloader{
            width: 100%;
            padding: auto;
            }
            
               .con-preloder{
                margin-left: -60px;
            }
            
            
            .load1, .load2{
                width: 50px;
            }
                 
                 #background-vid{
                     display:none;
                     background-image: url(/storage/emulated/0/Android/obj/HTML -CSS - Course/photos.html/2.jpg);
                 }
                 
                   .logo{
                        margin-top:-10px;
                        width: 80px;
                   }
                 
                 .body{
                     width: 100%;
                     height: 80px;
                     background: url(/storage/emulated/0/Android/obj/HTML -CSS - Course/photos.html/8.jpg);
                 }                 
                 
                     .reg-form{
                    position: absolute;
                    top:40px;
                    bottom:150px;
                    right:50px;
                    left:30px;
                    background-image:url(/storage/emulated/0/Download/5gZT5I-LogoMakr.png);
                    }
                  
                 .pic-ins{
                    display:flex;
                    flex-direction:column;
                    padding-left:400px;
                }
                 
                 .ins{
                     text-transform:uppercase;
        font-family:Arial;
        font-weight:bold;
        margin-top:900px;
        font-size:40px;
                 }
                 
                 .pic-slide{
                     width:400px;
                 }
                 
                   .words{
                      height:80px;
                      padding: auto;
                }
        
                 
                   .words-of-wisdom{
                 font-size:8px;
                 }
        
             }
             
                @media all and (max-width:375px) {
                 body{
                     width:100%;
                     
                 }
                 
                     .preloader{
            width: 100%;
            padding: auto;
            }
            
               .con-preloder{
                margin-left: -70px;
            }
            
            
            .load1, .load2{
                width: 30px;
            }
                 
                 #background-vid{
                     display:none;
                     background-image: url(/storage/emulated/0/Android/obj/HTML -CSS - Course/photos.html/2.jpg);
                 }
                 
                   .logo{
                        margin-top:-10px;
                        width: 80px;
                   }
                 
                 .body{
                     width: 100%;
                     height: 80px;
                     background: url(/storage/emulated/0/Android/obj/HTML -CSS - Course/photos.html/8.jpg);
                 }                 
                 
                     .reg-form{
                    position: absolute;
                    top:40px;
                    bottom:150px;
                    right:50px;
                    left:10px;
                    background-image:url(/storage/emulated/0/Download/5gZT5I-LogoMakr.png);
                    }
                  
                 .pic-ins{
                    display:flex;
                    flex-direction:column;
                    padding-left:400px;
                }
                 
                 .ins{
                     text-transform:uppercase;
        font-family:Arial;
        font-weight:bold;
        margin-top:900px;
        font-size:40px;
                 }
                 
                 .pic-slide{
                     width:400px;
                 }
                 
                   .words{
                      height:80px;
                      padding: auto;
                }
        
                 
                   .words-of-wisdom{
                 font-size:8px;
                 }
        
             }
             
